* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: white;
    color: #333;
}

/* HEADER */
header {
    background: green;
    color: white;
    padding: 20px 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 28px;
    font-weight: bold;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    transition: 0.3s;
}

nav a:hover {
    color: #ffd27f;
}

/* HERO */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 60px 80px;
    background: white;
}

.hero-text {
    width: 50%;
}

.hero-text h1 {
    font-size: 50px;
    margin-bottom: 20px;
    color: brown;
}

.hero-text p {
    font-size: 18px;
    margin-bottom: 25px;
    line-height: 1.6;
    color: white;
}

.hero-text button {
    padding: 12px 25px;
    border: none;
    background: brown;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.hero-text button:hover {
    background: #8a5335;
}

.hero-image {
    width: 45%;
}

.hero-image img {
    width: 100%;
    border-radius: 10px;
}
.hero{
    height: 600px;
    background-image: url("https://images.unsplash.com/photo-1579952363873-27f3bade9f55");

    background-size: cover;
    background-position: center;

    display: flex;
    align-items: center;

    padding-left: 80px;
}
/* PRODUCTS */
.products {
    padding: 60px 80px;
    text-align: center;
}

.products h2 {
    font-size: 36px;
    margin-bottom: 40px;
    color: #6b3e26;
}

.product-list {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.card {
    background: white;
    width: 300px;
    padding: 20px;
    border-radius: 10px;

    box-shadow: 0 4px 10px rgba(0,0,0,0.1);

    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 10px;
}

.card h3 {
    margin-top: 15px;
    margin-bottom: 10px;
}

.card p {
    color: #6b3e26;
    font-weight: bold;
}

/* FOOTER */
footer {
    background: yellow;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}